<!-- Footer -->
<footer class="site-footer">
  <div class="footer-brand">
    {{ partial "logo.html" . }}
    <span class="footer-brand-copy" style="margin-top: 8px;">by LatentWorx LTD</span>
  </div>
  <nav class="footer-links">
    <a href="/privacy">Privacy Policy</a>
  </nav>
  <span class="footer-copy" style="margin-bottom: 0.5rem; display: block;">Kerrigan&trade; is a trademark of LatentWorx LTD.</span>
  <span class="footer-copy">© 2026 LatentWorx LTD. All rights reserved.</span>
</footer>
